<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.dany.physics">

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DiffusionQuest001"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".DiffusionQuest002"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".DiffusionQuest003"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".DiffusionQuest004"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".DiffusionQuest005"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".DiffusionQuest006"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".PressureQuest001"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".PressureQuest002"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".PressureQuest003"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".PressureQuest004"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".PressureQuest005"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".PressureQuest006"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".FinishClass"
            android:label="@string/app_name">
        </activity>

    </application>

</manifest>